* {
    margin: 0;
    padding: 0;
}

/*--------------------- " BARRA DE NAVEGACIÓN " ---------------------*/
nav.navbar {
    background-color: #333;
    /*color de fondo*/
    color: white;
    /*color del texto*/
    display: flex;
    /*para que los elementos se alineen en una fila*/
    padding: 20px;
    /*espacio interno alrededor del contenido*/
    align-items: center;
    /*para alinear los elementos verticalmente al centro*/
    width: 100%;
    /*ancho completo de la barra de navegación*/
    ;
}

nav.navbar img {
    height: 50px;
    /*altura de la imagen del logo*/
    width: auto;
    /*ancho automático para mantener la proporción*/
    border-radius: 50%;
    /*bordes redondeados de la imagen del logo*/
    margin-right: 00px;
}

nav.navbar ul {
    list-style: none;
    /*eliminar los puntos de la lista*/
    display: flex;
    /*para que los elementos de la lista se alineen en una fila*/
    gap: 20px;
    /*espacio entre los elementos de la lista*/
    align-items: center;
    /*para alinear los elementos verticalmente al centro*/
    margin-left: 20px;
    /*margen a la izquierda de la lista*/
    padding: 0;
    /*eliminar el padding de la lista*/
    margin-right: 1000px;
    /* margen a la derecha de la lista */
}

nav.navbar i {
    font-size: 250%;
    /*tamaño del icono de búsqueda*/

}

nav.navbar button {
    border-radius: 10px;
    /*bordes redondeados del botón*/
}

div.container {
    display: flex;
    /*para que los elementos se alineen en una fila*/
    align-items: center;
    /*para alinear los elementos verticalmente al centro*/
    gap: 10px;
    /*espacio entre los elementos de la barra de búsqueda*/
    border-radius: 10px;
    /*bordes redondeados de la barra de búsqueda*/
    margin: 20px;
    /*margen alrededor de la barra de búsqueda*/
}

nav.navbar input[type="text"] {
    width: 100%;
    /*ancho completo de la barra de búsqueda*/
    padding: 10px;
    /*espacio interno alrededor del texto*/
    border: none;
    /*sin borde*/
    border-radius: 10px;
    /*bordes redondeados de la barra de búsqueda*/
}


/*------------------------ " TENDENCIAS " ------------------------------*/

nav.tendencia {
    height: auto;
    /*altura automática para adaptarse al contenido*/
    color: #333;
    /*color del texto de la sección de tendencias*/
    padding: 20px;
    /*espacio interno alrededor del contenido*/
    align-items: center;
    /*para alinear los elementos verticalmente al centro*/
    width: 100%;
    /*ancho completo de la sección de tendencias*/
    margin: 20px auto;
    /*centrar la sección de tendencias en la página*/
    text-align: center;
    /*alinear el texto al centro*/
}

nav.tendencia article section img {
    height: 100%;
    /*altura de la imagen de tendencia*/
    width: 150px;
    /*ancho automático para mantener la proporción*/

}

nav.tendencia article section {
    margin: 0px 100px;
    /*margen de la sección de tendencia*/
    display: flex;
    /*para que los elementos de la sección se alineen en una fila*/
    gap: 20px;
    /*espacio entre los elementos de la sección*/
    background-color: rgba(0, 0, 0, 0.686);
    /*color de fondo de la sección de tendencia*/
    border-radius: 10px;
    /*bordes redondeados de la sección de tendencia*/
    padding: 20px;
    /*espacio interno alrededor del contenido de la sección de tendencia*/
    overflow-x: auto;
    /*para permitir el desplazamiento horizontal si hay demasiados elementos*/
    align-items: center;
    box-shadow: 3px 5px 7px #333
}

nav.tendencia h1 {
    font-size: 2em;
    /*tamaño del título de la sección de tendencias*/
    align-items: center;
    /*para alinear los elementos verticalmente al centro*/
    gap: 10px;
    /*espacio entre los elementos de tendencia*/
    text-align: center;
    /*alinear el texto al centro*/
    padding: 10px;
}

/*------------------------" GENEROS y PELICULAS "------------------------------*/
main.main-content {
    display: flex;
    /*para que los elementos se alineen en una fila*/
    flex-direction: row;
    /* Dirección de la fila */
    margin: 20px;
    /* margen alrededor del contenido principal */
}


.generos {
    width: 250px;
    /*ancho de la barra lateral*/
    background-color: rgba(0, 0, 0, 0.686);
    /*color de fondo de la barra lateral*/
    border-radius: 10px;
    /*bordes redondeados de la barra lateral*/
    padding: 20px;
    /*espacio interno alrededor del contenido de la barra lateral*/
    margin: 20px 20px;
    /*margen alrededor de la barra lateral*/
    display: flex;
    /* Utilizar flexbox para el diseño */
    flex-direction: column;
    /* Dirección de la columna */
    align-items: center;
    /* Alinear los elementos al centro */
    text-align: center;
    /* Alinear el texto al centro */
    color: white;
    /* color del texto de la barra lateral */
    height: 57%;
    /*altura de la barra lateral*/
}

.generos h2 {
    font-size: 1.5em;
    /*tamaño del título de la barra lateral*/
    margin-bottom: 10px;
    /*margen inferior del título de la barra lateral*/
    padding: 20px;
    /*espacio interno alrededor del título de la barra lateral*/
}

.generos ul {
    list-style: none;
    /*eliminar los puntos de la lista*/
    text-align: center;
    /* Alinear el texto al centro */
    padding: 20px;
    /*espacio interno alrededor de la lista*/
    gap: 30px;
    /*espacio entre los elementos de la lista*/
    display: flex;
    /* Utilizar flexbox para el diseño */
    flex-direction: column;
    /* Dirección de la columna */

}

.generos button {
    background-color: #333;
    /*color de fondo del botón*/
    color: white;
    /*color del texto del botón*/
    border: none;
    /*sin borde*/
    padding: 20px 10px;
    /*espacio interno alrededor del texto del botón*/
    border-radius: 5px;
    /*bordes redondeados del botón*/
    cursor: pointer;
    /*cursor de mano al pasar por encima del botón*/
    box-shadow: 2px 4px 6px #d5e9fc;
}

section.peliculas {
    width: 100%;
    /*ancho de la sección de películas*/
}

.peliculas h1 {
    text-align: center;
    /* Alinear el texto al centro */
    font-size: 1.5em;
    /*tamaño del título de la barra lateral*/
    margin-bottom: 10px;
    /*margen inferior del título de la barra lateral*/
    padding: 20px;
    /*espacio interno alrededor del título de la barra lateral*/
    background-color: #333;
    /*color de fondo del título de la barra lateral*/
    border-radius: 50px;
    /*bordes redondeados del título de la barra lateral*/
    color: white;
    /*color del texto del título de la barra lateral*/
    box-shadow: 2px 4px 6px #d5e9fc;
    /*sombra del título de la barra lateral*/
    /*   margin-right: 200px;*/
    /*margen derecho del título de la barra lateral*/
}

.peliculas img {
    width: 100%;
    /*ancho de la imagen de la película*/
    height: auto;
    /*altura de la imagen de la película*/
    padding: 30px;
    /*espacio interno alrededor de la imagen de la película*/
    border-radius: 30px;
    /*bordes redondeados del fondo*/
    display: flex;
}

.peliculas h2 {
    text-align: center;
    /* Alinear el texto al centro */
}

.pelicula-card {
    width: 200px;
    /*ancho de la tarjeta de la película*/
    display: flex;
    /*para que los elementos de la tarjeta se alineen en una fila*/
    flex-direction: column;
    /* Dirección de la columna */
    align-items: center;
    /*para alinear los elementos verticalmente al centro*/
    margin: 15px;
    /* margen alrededor de la tarjeta de la película*/
    background-color: #333;
    /*color de fondo de la tarjeta de la película*/
    padding: 15px;
    /*espacio interno alrededor del contenido de la tarjeta de la película*/
    border-radius: 15px;
    /*bordes redondeados de la tarjeta de la película*/
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    /*sombra de la tarjeta de la película*/
    color: white;
    /*color del texto de la tarjeta de la película*/
}

.peliculas-catalogo {
    display: flex;
    /*para que los elementos de la tarjeta se alineen en una fila*/
    flex-wrap: wrap;
    /*para permitir que los elementos se ajusten a varias líneas si es necesario*/
    justify-content: center;
    /*para centrar los elementos horizontalmente*/
    gap: 20px;
    /*espacio entre los elementos de la tarjeta*/
    margin: 20px;
    /* margen alrededor de la tarjeta*/
}





/*------------------------" footer"  -------------------------*/
/*
footer{
    background-color: #333;
    width: 100%;
    height: 100px;
    color: white;
    font-size: 10mm;
    padding: 50px;
    text-align: center;
}