* {
    margin: 0;
    padding: 0;
}

/*--------------------- " BARRA DE NAVEGACIÓN " ---------------------*/
nav.navbar {
    background-color: #333;
    /*color de fondo*/
    color: white;
    /*color del texto*/
    display: flex;
    /*para que los elementos se alineen en una fila*/
    padding: 20px;
    /*espacio interno alrededor del contenido*/
    align-items: center;
    /*para alinear los elementos verticalmente al centro*/
    width: 100%;
    /*ancho completo de la barra de navegación*/
    ;
}

nav.navbar img {
    height: 50px;
    /*altura de la imagen del logo*/
    width: auto;
    /*ancho automático para mantener la proporción*/
    border-radius: 50%;
    /*bordes redondeados de la imagen del logo*/
    margin-right: 00px;
}

nav.navbar ul {
    list-style: none;
    /*eliminar los puntos de la lista*/
    display: flex;
    /*para que los elementos de la lista se alineen en una fila*/
    gap: 20px;
    /*espacio entre los elementos de la lista*/
    align-items: center;
    /*para alinear los elementos verticalmente al centro*/
    margin-left: 20px;
    /*margen a la izquierda de la lista*/
    padding: 0;
    /*eliminar el padding de la lista*/
    margin-right: 1000px;
    /* margen a la derecha de la lista */
}

nav.navbar i {
    font-size: 250%;
    /*tamaño del icono de búsqueda*/

}

nav.navbar button {
    border-radius: 10px;
    /*bordes redondeados del botón*/
}

div.container {
    display: flex;
    /*para que los elementos se alineen en una fila*/
    align-items: center;
    /*para alinear los elementos verticalmente al centro*/
    gap: 10px;
    /*espacio entre los elementos de la barra de búsqueda*/
    border-radius: 10px;
    /*bordes redondeados de la barra de búsqueda*/
    margin: 20px;
    /*margen alrededor de la barra de búsqueda*/
}

nav.navbar input[type="text"] {
    width: 100%;
    /*ancho completo de la barra de búsqueda*/
    padding: 10px;
    /*espacio interno alrededor del texto*/
    border: none;
    /*sin borde*/
    border-radius: 10px;
    /*bordes redondeados de la barra de búsqueda*/
}


/*------------------------ " TENDENCIAS " ------------------------------*/

nav.tendencia {
    height: auto;
    /*altura automática para adaptarse al contenido*/
    color: #333;
    /*color del texto de la sección de tendencias*/
    padding: 20px;
    /*espacio interno alrededor del contenido*/
    align-items: center;
    /*para alinear los elementos verticalmente al centro*/
    width: 100%;
    /*ancho completo de la sección de tendencias*/
    margin: 20px auto;
    /*centrar la sección de tendencias en la página*/
    text-align: center;
    /*alinear el texto al centro*/
}

nav.tendencia article section img {
    height: 100%;
    /*altura de la imagen de tendencia*/
    width: 150px;
    /*ancho automático para mantener la proporción*/

}

nav.tendencia article section {
    margin: 0px 100px;
    /*margen de la sección de tendencia*/
    display: flex;
    /*para que los elementos de la sección se alineen en una fila*/
    gap: 20px;
    /*espacio entre los elementos de la sección*/
    background-color: rgba(0, 0, 0, 0.686);
    /*color de fondo de la sección de tendencia*/
    border-radius: 10px;
    /*bordes redondeados de la sección de tendencia*/
    padding: 20px;
    /*espacio interno alrededor del contenido de la sección de tendencia*/
    overflow-x: auto;
    /*para permitir el desplazamiento horizontal si hay demasiados elementos*/
    align-items: center;
    box-shadow: 3px 5px 7px #333
}

nav.tendencia h1 {
    font-size: 2em;
    /*tamaño del título de la sección de tendencias*/
    align-items: center;
    /*para alinear los elementos verticalmente al centro*/
    gap: 10px;
    /*espacio entre los elementos de tendencia*/
    text-align: center;
    /*alinear el texto al centro*/
    padding: 10px;
}

/*------------------------" GENEROS y PELICULAS "------------------------------*/

.generos-y-peliculas aside {
    display: flex;
    /* Utilizar flexbox para el diseño */
    flex-direction: row;
    /* Dirección de la fila */
    justify-content: space-between;
    /* Espacio entre los elementos del navegador */
}

.generos {
    width: 250px;
    /*ancho de la barra lateral*/
    background-color: rgba(0, 0, 0, 0.686);
    /*color de fondo de la barra lateral*/
    border-radius: 10px;
    /*bordes redondeados de la barra lateral*/
    padding: 20px;
    /*espacio interno alrededor del contenido de la barra lateral*/
    margin: 20px 20px;
    /*margen alrededor de la barra lateral*/
    display: flex;
    /* Utilizar flexbox para el diseño */
    flex-direction: column;
    /* Dirección de la columna */
    align-items: center;
    /* Alinear los elementos al centro */
    text-align: center;
    /* Alinear el texto al centro */
    color: white;
    /* color del texto de la barra lateral */
    height: 20%;
}

.generos h2 {
    font-size: 1.5em;
    /*tamaño del título de la barra lateral*/
    margin-bottom: 10px;
    /*margen inferior del título de la barra lateral*/
    padding: 20px;
}

.generos ul {
    list-style: none;
    /*eliminar los puntos de la lista*/
    text-align: center;
    padding: 20px;
    gap: 30px;
    display: flex;
    flex-direction: column;

}

.generos button {
    background-color: #333;
    /*color de fondo del botón*/
    color: white;
    /*color del texto del botón*/
    border: none;
    /*sin borde*/
    padding: 20px 10px;
    /*espacio interno alrededor del texto del botón*/
    border-radius: 5px;
    /*bordes redondeados del botón*/
    cursor: pointer;
    /*cursor de mano al pasar por encima del botón*/
    box-shadow: 2px 4px 6px #d5e9fc;
}

.peliculas h1 {
    text-align: center;
    font-size: 1.5em;
    /*tamaño del título de la barra lateral*/
    margin-bottom: 10px;
    /*margen inferior del título de la barra lateral*/
    padding: 20px;
    background-color: #333;
    border-radius: 50px;
    color: white;
    box-shadow: 2px 4px 6px #d5e9fc;
    margin-right: 20px;
}

.peliculas img {
    width: 20%;
    height: 400px;
    padding: 30px;
    background-color: #333;
    border-radius: 30px;
    /*bordes redondeados del botón*/
    box-shadow: 2px 4px 6px #16181a;

}